# Web Framework & Server
fastapi
uvicorn
python-dotenv

# Database
supabase

# Scraping & Logic
beautifulsoup4
playwright
playwright-stealth
google-genai

# Performance Testing
locust

# Data (Removing strict version for compatibility)
numpy
pydantic